

.hero-content {
    @include mq(md){
        margin-bottom: 50px;
    }
    @include mq(xs){
        margin-bottom: 50px;
    }
    h6 {
        font-size: 15px;
        font-weight: 500;
        color: $body-color;
        display: block;
    }
    .title {
        font-size: 56px;
        line-height: 56px;
        span {
            color: $theme-color;
        }
        @include mq(lg){
            font-size: 50px;
        }
        @include mq(xs){
            font-size: 38px;
            line-height: 42px;
        }
    }
    p {
        font-size: 18px;
        line-height: 27px;
        padding-right: 5px;
        padding-top: 10px;

        @include mq(xs){
            padding-top: 0;
        }
    }
    .hero-button{
        margin-top: 35px;
        a {
            display: inline-block;
            width: 162px;
            margin-right: 15px;
            @include mq(xs){
                width: 150px;
                margin-right: 10px;
            }
        }
    }
}

.hero-image {
    position: relative;
    padding: 0 50px;
    @include mq(xs){
        padding: 0 20px;
    }

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: calc(100% - 100px);
        top: 100px;
        left: 0;
        background-color: #F2F0E3;
        border-radius: 16px;
        z-index: -1;
    }
    p {
        font-size: 15px;
        padding: 40px 0;
        text-align: center;

        @include mq(xs){
            padding: 20px 0;
        }
    }
}